body {
    text-align: center;
}

.movie-card {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2em;
    width: 100%;
}

img {
    order: -1;
    max-width: 100%;
    width: 8%;
}

.movie-info {
    width: 25%;
    margin-bottom: 1em ;
}