* {
    box-sizing: border-box;
}
/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height:  1.6;
}

article, h3 {
    margin: 0;
}

a {
    text-decoration: none;
    transition: .5s;
}
a:hover, a:focus {
    text-decoration: underline;
    font-size: 105%;
}
/* General Design */

header {
    padding-bottom: 1em;
}
body {
    text-align: center;
    background-color: lightgray;
}


input, button {
    border-radius: 5px;
    padding: .5em;
}

button {
    transform: scale(1);
    transition: .5s;
}
button:hover {
    transform: scale(1.10);
}

hr {
    margin: 1em 0;
}
/* Movie Cards */

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-info {
    width: 100%;
}

.movie-poster {
    width: 80%;
    min-width: 75%;
}

img {
    order: -1;
    margin-bottom: 1em;
}

.remove:hover {
    background-color: #FD9797;
}

.add:hover {
    background-color: #97FDB0;
}


/* Utility */
.container {
    max-width: 480px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
